.detailCart{
    display: grid;
    grid-template-columns: 5% 35% 35% 20% 5% ;
    align-items: center;
    width: 900px;
    height: 70px;
    background-color: white;
    margin-top: 10px ;
    border-radius: 8px;

}
.delete{
    background: none;
    border:none;

}
.delete img{
    width: 25px;
    height: 25px;
}

.delete:hover{
    cursor: pointer;
}


.costList h4{
    text-align: center;

}

.costList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}